:root {
  --color-primary: #2F2F2F;
  --color-secondary: #5B737D;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #f1f2f6;
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
