header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--color-primary);
  color: var(--color-white);
}

header a {
  display: flex;
  align-items: center;
}

header img {
  height: 70px;
}

.search-container {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 100%;
}

.search-bar {
  width: 100%;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  border: 1.2px solid var(--color-grey);
  border-radius: 20px;
  font-size: 1rem;
}

.search-button {
  position: absolute;
  right: 8px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-secondary);
  transition: color 0.3s ease;
}

.search-button:hover {
  color: var(--color-primary);
}

input::placeholder {
  color: var(--color-secondary);
}

.suggestion-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 1000;
}

.suggestion-container img {
  height: 50px;
  border-radius: 5px;
}

.suggestion-container h3 {
  margin: 0;
  font-size: 1.2rem;
  color: var(--color-primary);
}

.suggestion-container p {
  margin: 0;
  font-size: 0.9rem;
  color: var(--color-secondary);
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    
    padding: 0.5rem 1rem;
  }

  .search-container {
    margin-top: 0.5rem;
    width: 100%;
  }

  .search-bar {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .search-button {
    right: 5px;
  }

  .suggestion-container {
    padding: 0.5rem;
    gap: 0.5rem;
  }

  .suggestion-container h3 {
    font-size: 1rem;
  }

  .suggestion-container p {
    font-size: 0.8rem;
  }
}
